## List of data files

In [ ]:
import os

os.listdir(data_path)

## Ratings dataframe: user-movie relation

In [ ]:
import pandas as pd

from pathlib import Path

data_path = Path('../data/raw/ml-100k')
ratings_df = pd.read_csv(data_path / 'u.data', sep='\t', encoding='ansi', names=['userId', 'movieId', 'rating', 'timestamp'])
ratings_df.head()

## Movies dataframe: movies features
Let's extract useful information: id, title and movie genres in a form of `list[str]`

In [ ]:
items_df = pd.read_csv(data_path / 'u.item', sep='|', encoding='ansi', header=None)
items_df.head()

In [ ]:
genres_masks = items_df.iloc[:, 5:].to_numpy(dtype=bool)
genres_masks[0]

In [ ]:
genres = pd.read_csv(data_path / 'u.genre', sep='|', encoding='ansi', header=None)[0].to_numpy()
genres

In [ ]:
movies_df = items_df.iloc[:, :2]
movies_df.columns = ['movieId', 'title']
movies_df = movies_df.assign(genres=[genres[mask] for mask in genres_masks])
movies_df.head()

## User dataframe: users features
Let's preprocess zipCodes, so they are more representative: take only first symbol which is equivalent to some region

In [ ]:
users_df = pd.read_csv(data_path / 'u.user', sep='|', encoding='ansi', names=['userId', 'age', 'sex', 'occupation', 'zipCode'])
users_df['zipCode'] = users_df['zipCode'].apply(lambda x: x[:1])
users_df.head()

In [6]:
import os

os.listdir(data_path)

['allbut.pl',
 'mku.sh',
 'README',
 'u.data',
 'u.genre',
 'u.info',
 'u.item',
 'u.occupation',
 'u.user',
 'u1.base',
 'u1.test',
 'u2.base',
 'u2.test',
 'u3.base',
 'u3.test',
 'u4.base',
 'u4.test',
 'u5.base',
 'u5.test',
 'ua.base',
 'ua.test',
 'ub.base',
 'ub.test']

## Ratings dataframe: user-movie relation

In [34]:
import pandas as pd

from pathlib import Path

data_path = Path('../data/raw/ml-100k')
ratings_df = pd.read_csv(data_path / 'u.data', sep='\t', encoding='ansi', names=['userId', 'movieId', 'rating', 'timestamp'])
ratings_df.head()

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

## Movies dataframe: movies features
Let's extract useful information: id, title and movie genres in a form of `list[str]`

In [65]:
items_df = pd.read_csv(data_path / 'u.item', sep='|', encoding='ansi', header=None)
items_df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [48]:
genres_masks = items_df.iloc[:, 5:].to_numpy(dtype=bool)
genres_masks[0]

array([False, False, False,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [60]:
genres = pd.read_csv(data_path / 'u.genre', sep='|', encoding='ansi', header=None)[0].to_numpy()
genres

array(['unknown', 'Action', 'Adventure', 'Animation', "Children's",
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western'], dtype=object)

In [73]:
movies_df = items_df.iloc[:, :2]
movies_df.columns = ['movieId', 'title']
movies_df = movies_df.assign(genres=[genres[mask] for mask in genres_masks])
movies_df.head()

   movieId              title                           genres
0        1   Toy Story (1995)  [Animation, Children's, Comedy]
1        2   GoldenEye (1995)    [Action, Adventure, Thriller]
2        3  Four Rooms (1995)                       [Thriller]
3        4  Get Shorty (1995)          [Action, Comedy, Drama]
4        5     Copycat (1995)         [Crime, Drama, Thriller]

## User dataframe: users features
Let's preprocess zipCodes, so they are more representative: take only first symbol which is equivalent to some region

In [105]:
users_df = pd.read_csv(data_path / 'u.user', sep='|', encoding='ansi', names=['userId', 'age', 'sex', 'occupation', 'zipCode'])
users_df['zipCode'] = users_df['zipCode'].apply(lambda x: x[:1])
users_df.head()

   userId  age sex  occupation zipCode
0       1   24   M  technician       8
1       2   53   F       other       9
2       3   23   M      writer       3
3       4   24   M  technician       4
4       5   33   F       other       1